body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/* pc */
@media screen and (min-height: 1080px) and (max-width: 1920px) {

}

/* mobile */
@media screen and (min-width: 250px) and (max-height: 1070px) {
    body {
        background-color: rgb(66, 66, 66);
    }
    video#Video {
        height: 100%;
        width: 100%;
        position: relative;
        margin-top: 45%;
        border-radius: 8px;
    }
    div#Initial_Text {
        position: absolute;
        bottom: 70%;
        left: 8%;
        background-color: rgb(31, 31, 31);
        width: 85%;
        height: 23%;
        border-radius: 15px;
        
    }
    p#Question {
        font: 17pt normal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: rgb(210, 210, 210);
        text-align: center;
    }
    p#Question2 {
        color: rgb(210, 210, 210);
        font: 15pt normal;
        position: relative;
        bottom: 10%;
        text-align: center;
    }

    /* botões */

    button#SimBtt {
        position: relative;
        font: 20pt normal;
        background-color: rgba(172, 255, 47, 0.9);
        border-radius: 15px;
        left: 10%;
        bottom: 10%;
        height: 25%;
        width: 35%;
    }
    button#NãoBtt {
        position: relative;
        font: 20pt normal;
        background-color: rgba(220, 0, 0, 0.9);
        border-radius: 15px;
        left: 20%;
        bottom: 10%;
        height: 25%;
        width: 35%;
    }

    /* easter egg */

    div#Easter_Egg {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0);
        width: 98%;
        height: 28%;
        overflow: hidden;
        left: 1%;
        border-radius: 25px;
        bottom: 40%;
    }
    p#Easter {
        text-align: center;
        font: 31pt normal;
        color: white;
    }

    /* parte 2 */

    div#Final_Text {
        display: none;
        position: absolute;
        background-color: rgba(1, 49, 11, 0.788);
        width: 95%;
        height: 47%;
        border-radius: 20px;
        top: 1%;
        left: 2.5%;
        text-align: justify;
        overflow: scroll;
    }
    p#TextFinal {
        position: relative;
        width: 90%;
        height: 90%;
        left: 5%;
        top: -3%;
        color: white;
        font: 15pt normal;
    }
    div#img1 {
        display: none;
        position: absolute;
        background-image: url(./src/IMG-20250303-WA0047.jpg);
        width: 45%;
        height: 40%;
        top: 53%;
        left: 3%;
        background-size: 100% 100%;
        border-radius: 20px;
    }
    div#img2 {
        display: none;
        position: absolute;
        background-image: url(./src/IMG-20250303-WA0044.jpg);
        background-size: 100% 100%;
        width: 45%;
        height: 40%;
        top: 53%;
        left: 53%;
        border-radius: 20px;
    }
}